    <section id="about" class="about">
        <div class="container">
            <div class="about__text">
                <div class="template-title template-title_case-2">
                    <h2>About the company</h2>
                </div>
                <p>Asia Cargo Company is a full range of logistics services for cargo delivery from China to Ukraine - consolidated cargo and whole consignments, TaoBao intermediary services, CARGO China-Ukraine. For your convenience, there are rates for light and heavy cube. We have been working on the market for more than 4 years, and the company's managers have been engaged in logistics for more than 11 years.</p>
                <p>We strive to provide our customers with the best delivery conditions and the best service. By choosing us, you choose quality delivery at the best price and in the best time! See for yourself!</p>
            </div>
            <div class="about__img-box">
                <img src="./assets/img/about.png" alt="about">
            </div>
            </div>
    </section>
