<section class="advantages bg-accent">
    <div class="container">
        <div class="template-title">
            <h2>Why choose us?</h2>
        </div>
        <div id="advantages" class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="advantage">
                        <div class="advantage_img-box">
                            <img src="./assets/img/advantage-1.svg" class="advantag_img" alt="advantage-1">
                        </div>
                            <h6 class="advantage_title">Customs clearance of cargo</h6>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="advantage">
                            <div class="advantage_img-box">
                                <img src="./assets/img/advantage-2.svg" class="advantag_img" alt="advantage-2">
                            </div>
                                <h6 class="advantage_title">Cargo insurance</h6>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="advantage">
                                <div class="advantage_img-box">
                                    <img src="./assets/img/advantage-3.svg" class="advantag_img" alt="advantage-3">
                                </div>
                                    <h6 class="advantage_title">Checking goods for defects</h6>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="advantage">
                                    <div class="advantage_img-box">
                                        <img src="./assets/img/advantage-4.svg" class="advantag_img" alt="advantage-4">
                                    </div>
                                        <h6 class="advantage_title">Delivery to any city in Ukraine</h6>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="advantage">
                                        <div class="advantage_img-box">
                                            <img src="./assets/img/advantage-5.svg" class="advantag_img" alt="advantage-5">
                                        </div>
                                            <h6 class="advantage_title">Consolidation in warehouse</h6>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="advantage">
                                            <div class="advantage_img-box">
                                                <img src="./assets/img/advantage-6.svg" class="advantag_img" alt="advantage-6">
                                            </div>
                                                <h6 class="advantage_title">Responsible storage of cargo</h6>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="advantage">
                                                <div class="advantage_img-box">
                                                    <img src="./assets/img/advantage-7.svg" class="advantag_img" alt="advantage-7">
                                                 </div>
                                                    <h6 class="advantage_title">Help in paying for goods</h6>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="advantage">
                                                    <div class="advantage_img-box">
                                                        <img src="./assets/img/advantage-1.svg" class="advantag_img" alt="advantage-8">
                                                    </div>
                                                        <h6 class="advantage_title">Packing, repacking, palletizing of cargo</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-pagination"></div>
                                        </div>
                                    </div>
</section>
