<section class="calculation">
    <div class="container">
        <div class="template-title template-title_case-3">
            <h2>Получить рассчет стоимости доставки вашего груза</h2>
        </div>
        <form class="calculation-form">
            <input type="text">
            <input type="text">
            <input type="text">
            <input type="text">
            <input type="text">

            <input type="checkbox">
            <input type="checkbox">
            <input type="file">
            <a href="#" class="btn btn-lg btn-primary">Следующий шаг <img src="./assets/img/icon-arrow-left.svg"> alt="arrow"   </a> 
        </form>
        <!--   <img src="assets/img/calculation-person.png" alt="person">  -->
    </div>
</section>

<div class="container">
    <br><br><br><br><br><br><br>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem enim illo itaque officiis, qui iusto.
</div>
