<section id="calculation" class="calculation">
    <div class="container">
        <div class="template-title template-title_case-3">
            <h2>Get a quote for shipping your cargo</h2>
        </div>
        <form class="calculation-form">
            <div class="form-row">
                <div class="form-column">
                    <div class="input-box">
                        <label for="product-category">Product category:</label>
                        <select id="product-category">
                            <option value="1">Heavy</option>
                            <option value="2">Average</option>
                            <option value="3">Easy</option>
                        </select>
                    </div>
                    <div class="input-box">
                        <label for="cargo-weight">Cargo weight (kg):</label>
                        <input id="cargo-weight" name="cargo-weight" type="number" placeholder="Enter weight" inputmode="numeric" required>
                    </div>
                </div>
                <div class="form-column">
                    <div class="input-box">
                        <label for="cargo-cost">Cargo cost:</label>
                        <input id="cargo-cost" name="cargo-cost" type="number" placeholder="Enter price" inputmode="numeric" required>
                    </div>
                    <div class="input-box">
                        <label for="cargo-volume">Cargo volume (m3):</label>
                        <input id="cargo-volume" name="cargo-volume" type="number" placeholder="Enter volume" inputmode="decimal" required>
                    </div>
                </div>
                <div class="form-column">
                    <div class="input-box">
                        <input id="insurance" type="checkbox">
                        <label for="insurance">Insurance</label>
                    </div>
                    <div class="input-box">
                        <input id="customs-clearance" type="checkbox">
                        <label for="customs-clearance">Customs clearance</label>
                    </div>
                </div>
                <div class="form-column">
                    <div class="input-box">
                        <label for="HS-code">HS code</label>
                        <input id="HS-code" name="hs-code" type="text" placeholder="Enter code" inputmode="text" required>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="input-box">
                    <div class="file-name"></div>
                    <input id="calculation-file" type="file">
                    <label for="calculation-file">Upload product photo</label>
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-primary">Next step<img src="./assets/img/icon-arrow-left.svg" alt="arrow"></button>
        </form>
        <img src="assets/img/calculation-person.png" class="calculation-img" alt="person">
    </div>
</section>
